* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.feed-container {
	display: grid;
	position: relative;
	width: 100vw;
	height: auto;
	grid-template-columns: 1fr minmax(min-content, 500px) 1fr;
	grid-template-rows: auto;
	grid-gap: 0;
	padding: 16px;
	padding-top: 0px;
	justify-items: center;
	align-items: flex-start;
}

.feed-post-block {
	grid-column: 2 / 3;
	height: auto;
	width: 100%;
	justify-items: center;
}
