input:focus,
select:focus,
textarea:focus,
img:focus,
button:focus {
	outline: none;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

.text-link {
	color: inherit;
	text-decoration: inherit;
}
