input:focus,
select:focus,
textarea:focus,
img:focus,
button:focus {
  outline: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

html[data-theme="dark"] {
  --highlight-color: #ffc107;
}

html[data-theme="light"] {
  --highlight-color: #098203;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

.hover-img:hover {
  cursor: pointer;
}

.invisibleDiv {
  height: 3rem;
}

@media (min-width: 31.25rem) {
  .invisibleDiv {
    display: none;
  }
}
